<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SnapToSell.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>41D23AA6B13E2D4BB67E1872FC45EABBA3B06ED1</string>
				<key>dateExpires</key>
				<string>7/14/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41D23AA6B13E2D4BB67E1872FC45EABBA3B06ED1</string>
						<key>dateExpires</key>
						<string>7/14/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WN2QR859M</string>
						<key>name</key>
						<string>Syed Kazmi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41D23AA6B13E2D4BB67E1872FC45EABBA3B06ED1</string>
						<key>dateExpires</key>
						<string>7/14/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WN2QR859M</string>
						<key>name</key>
						<string>Syed Kazmi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41D23AA6B13E2D4BB67E1872FC45EABBA3B06ED1</string>
						<key>dateExpires</key>
						<string>7/14/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WN2QR859M</string>
						<key>name</key>
						<string>Syed Kazmi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41D23AA6B13E2D4BB67E1872FC45EABBA3B06ED1</string>
						<key>dateExpires</key>
						<string>7/14/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WN2QR859M</string>
						<key>name</key>
						<string>Syed Kazmi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41D23AA6B13E2D4BB67E1872FC45EABBA3B06ED1</string>
						<key>dateExpires</key>
						<string>7/14/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WN2QR859M</string>
						<key>name</key>
						<string>Syed Kazmi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41D23AA6B13E2D4BB67E1872FC45EABBA3B06ED1</string>
						<key>dateExpires</key>
						<string>7/14/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OpalImagePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WN2QR859M</string>
						<key>name</key>
						<string>Syed Kazmi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41D23AA6B13E2D4BB67E1872FC45EABBA3B06ED1</string>
						<key>dateExpires</key>
						<string>7/14/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReachabilitySwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WN2QR859M</string>
						<key>name</key>
						<string>Syed Kazmi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41D23AA6B13E2D4BB67E1872FC45EABBA3B06ED1</string>
						<key>dateExpires</key>
						<string>7/14/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WN2QR859M</string>
						<key>name</key>
						<string>Syed Kazmi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41D23AA6B13E2D4BB67E1872FC45EABBA3B06ED1</string>
						<key>dateExpires</key>
						<string>7/14/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WN2QR859M</string>
						<key>name</key>
						<string>Syed Kazmi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41D23AA6B13E2D4BB67E1872FC45EABBA3B06ED1</string>
						<key>dateExpires</key>
						<string>7/14/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SkyFloatingLabelTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WN2QR859M</string>
						<key>name</key>
						<string>Syed Kazmi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41D23AA6B13E2D4BB67E1872FC45EABBA3B06ED1</string>
						<key>dateExpires</key>
						<string>7/14/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>StepView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WN2QR859M</string>
						<key>name</key>
						<string>Syed Kazmi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41D23AA6B13E2D4BB67E1872FC45EABBA3B06ED1</string>
						<key>dateExpires</key>
						<string>7/14/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftUserDefault.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WN2QR859M</string>
						<key>name</key>
						<string>Syed Kazmi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41D23AA6B13E2D4BB67E1872FC45EABBA3B06ED1</string>
						<key>dateExpires</key>
						<string>7/14/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WN2QR859M</string>
						<key>name</key>
						<string>Syed Kazmi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41D23AA6B13E2D4BB67E1872FC45EABBA3B06ED1</string>
						<key>dateExpires</key>
						<string>7/14/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XLPagerTabStrip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WN2QR859M</string>
						<key>name</key>
						<string>Syed Kazmi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>41D23AA6B13E2D4BB67E1872FC45EABBA3B06ED1</string>
						<key>dateExpires</key>
						<string>7/14/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WN2QR859M</string>
						<key>name</key>
						<string>Syed Kazmi</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2WN2QR859M.com.EcoLogix.SnapToSell</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2WN2QR859M</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>2WN2QR859M.com.EcoLogix.SnapToSell</string>
				</array>
			</dict>
			<key>name</key>
			<string>SnapToSell.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4be25a05-b0cf-4dde-a729-fd5116d6cd19</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2WN2QR859M</string>
				<key>name</key>
				<string>Syed Kazmi</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
